<app-modal
[active]="modalActive"
(closeModalEvent)="closeModal()"
></app-modal>

<button class="btn btn-primary" (click)="toggleUserInfo()">Show User Info</button>

<div class="plan-section">
  <h2>Lose Weight Plan</h2>

  <div class="plan-box" (click)="toggleExercisePlan()" [class.expanded]="showExercisePlan">
    <h3>Exercise Plan</h3>
    <div *ngIf="showExercisePlan">
      <div *ngFor="let day of getObjectKeys(exercisePlan)">
        <div>{{ day }}</div>
        <ul>
          <li *ngFor="let exercise of getExercisesForDay(day)">
            {{ exercise.name }} - {{ exercise.sets }} sets, {{ exercise.reps }} reps
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="plan-box" (click)="toggleMealPlan()" [class.expanded]="showMealPlan">
    <h3>Meal Plan</h3>
    <div *ngIf="showMealPlan">
      <div *ngFor="let day of getObjectKeys(mealPlan)">
        <div>{{ day }}</div>
        <ul>
          <li *ngFor="let meal of mealPlan[day] | keyvalue">
            {{ meal.key }} - {{ meal.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" (click)="goToTracker()">Track My Progress</button>
</div>
