<!-- menu.component.html -->
<div *ngIf="!isActiveOption" class="menu-options">
  <h2>CHOOSE YOUR GOAL</h2>
  <ul>
    <li><a routerLink="/menu/gain-weight" (click)="setActiveOption('gain-weight')">GAIN WEIGHT</a></li>
    <li><a routerLink="/menu/lose-weight" (click)="setActiveOption('lose-weight')">LOSE WEIGHT</a></li>
    <li><a routerLink="/menu/strengthen-muscles" (click)="setActiveOption('strengthen-muscles')">STRENGTHEN MUSCLES</a></li>
    <li><a routerLink="/menu/stay-active" (click)="setActiveOption('stay-active')">STAY ACTIVE</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
