div {
    max-width: 790px;
    margin: 50;
    padding: 25px;
    border: 2px solid #ccc;
    background-color:beige;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #10754ebb;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    color: #10754ebb;
  }
  
  th {
    background-color: #10754ebb;
    color:antiquewhite;
  }
  
  label {
    display: block;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    color: bisque;
  }


  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; 
    transition: background-color 0.3s, color 0.3s;
    color: #10754ebb;
    ;
  }
  
  .calculate-button {
    background-color: #10754ebb;
    color: white;
  
  }
  
  .calculate-button:hover {
    background-color: #10754ebb;
  }
  
.modal {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

.modal.active {
  display: block;
  margin: 150px;
}

.modal .modal-content {
  text-align: center;
}
