<div>
  <h2>Stay Active Plan</h2>

  <div class="plan-box" (click)="toggleExercisePlan()" [class.expanded]="showExercisePlan">    
  <h3>Exercise Plan</h3>
    <div *ngIf="showExercisePlan">
      <div *ngFor="let day of getObjectKeys(exercisePlan)">
        <div>{{ day }}</div>
        <ul>
          <li *ngFor="let exercise of exercisePlan[day]?.exercises">
            {{ exercise.name }} - {{ exercise.sets }} sets, {{ exercise.reps }} reps
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="plan-box" (click)="toggleMealPlan()" [class.expanded]="showMealPlan">
    <h3>Meal Plan</h3>
    <div *ngIf="showMealPlan">
      <div *ngFor="let day of getObjectKeys(mealPlan)">
        <div>{{ day }}</div>
        <ul>
          <li *ngFor="let meal of mealPlan[day] | keyvalue">
            {{ meal.key }} - {{ meal.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button (click)="goToTracker()">Track My Progress</button>
</div>
  